@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll thumb */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000101;
}

::-webkit-scrollbar-thumb {
  background: #3697af;
  border-radius: 4px;
}
